<div>
    <h2><span>User</span> "{{user.id}}"</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ID</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>UserName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.userName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>FamilyName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.name.familyName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>GivenName</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.name.givenName}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Email</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-repeat="e in user.emails" value="{{e.value}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Phone</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" ng-repeat="p in user.phoneNumbers" value="{{p.value}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Activated</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{user.active}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Verified</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.verified}}" readonly>
                </td>
            </tr>
            
            <tr>
                <td>
                    <span>PreviousLogonTime</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.previousLogonTime | date:'dd/MM/yy HH:mm' }}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastLogonTime</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.lastLogonTime | date:'dd/MM/yy HH:mm' }}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>PasswordLastModified</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.passwordLastModified | date:'dd/MM/yy HH:mm' }}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>CreatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.meta.created | date:'dd/MM/yy HH:mm' }}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastCreatedDate</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.meta.lastModified | date:'dd/MM/yy HH:mm'}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Origin</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.origin}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>ZoneId</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{user.zoneId}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Approvals</span>
                </td>
                <td> 
                    <div class="form-inline" ng-repeat="a in user.approvals">
                        <div class="form-group" >
                            <input type="text" class="input-sm form-control" 
                                value="{{a.clientId}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-sm form-control" 
                                value="{{a.scope}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-sm form-control" 
                                value="{{a.status}}" readonly>
                        </div>
                        <div class="form-group">
                            <input type="text" class="input-sm form-control" 
                                value="{{a.expiresAt}}"readonly>
                        </div>
                    </div>                   
                </td>
            </tr>
            </tbody>
        </table>
    </div>
 
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">Delete MFA registration</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-warning" aria-haspopup="true" aria-expanded="false"
                        ng-click="deleteMFA()">Delete</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Change Password</div>
                <div class="panel-body">
                    <form name="passwordForm" role="form" novalidate ng-submit="changePassword()" show-validation>              
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="old-password-addon">Old Password</span>
                                <input type="password" class="form-control" id="old-password" aria-describedby="old-password-addon"
                                    ng-model="secret.old_password">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon" id="password-addon">Password</span>
                                <input type="password" class="form-control" id="new-password" name="new_password"
                                    aria-describedby="password-addon"
                                    ng-model="secret.password" >
                            </div>
                            <div ng-show="passwordForm.new_password.$invalid">
                                <p class="help-block"
                                    ng-show="passwordForm.new_password.$error.required">
                                    Your password is required.
                                </p>
                                <p class="help-block"
                                    ng-show="passwordForm.new_password.$error.maxlength">
                                    Your password cannot be longer than 50 characters.
                                </p>
                            </div>
                            <password-strength-bar password-to-check="secret.password"></password-strength-bar>
                        </div>
                        <button type="submit" class="btn btn-danger" 
                            aria-haspopup="true" aria-expanded="false">
                            <span>Change it</span>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Status</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false"
                        ng-click="unlockAccount()">Unlock Account</button>
    
                    <button type="button" class="btn btn-warning" aria-haspopup="true" aria-expanded="false"
                        ng-click="expirePassword()">Expire Password</button>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Reset Password</div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="reset-password-addon">New Password</span>
                        <input type="password" class="form-control" id="reset-password" aria-describedby="reset-password-addon"
                            ng-model="reset.password">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false"
                                ng-click="resetPassword(true)">Reset</button>
                        </span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Or just get code of 
                            <a target="_blank"
                                href="https://github.com/cloudfoundry/uaa/blob/develop/docs/UAA-APIs.rst#reset-password-flow">
                                reset-password-flow</a>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false"
                                        ng-click="resetPassword(false)">Get</button>
                                </span>
                                <input type="text" class="form-control" id="reset-password-code" aria-describedby="reset-password-code-addon"
                                    placeholder="Reset Password Code" readonly
                                    ng-model="reset.code">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"
                                        ng-click="copyText(reset.code)">
                                        <span class="glyphicon glyphicon-copy"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">Verify</div>
                <div class="panel-body">
                    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false"
                        ng-click="verifyUser()">Verify</button>
                    
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Or just get 
                            <a target="_blank"
                                href="https://github.com/cloudfoundry/uaa/blob/develop/docs/UAA-APIs.rst#verify-user-links-get-users-id-verify-link">
                                verify link</a>
                            for future 
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="verify-redirect-addon">Redirect uri</span>
                                <input type="text" class="form-control" id="redirect_uri" aria-describedby="verify-redirect-addon"
                                    ng-model="verify.redirect_uri">
                            </div>        
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false"
                                        ng-click="verifyLink()">Get</button>
                                </span>
                                <input type="text" class="form-control" id="verify_link" aria-describedby="verify-link-addon"
                                    placeholder="Verify link" readonly
                                    ng-model="verify.verify_link">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"
                                        ng-click="copyText(verify.verify_link)">
                                        <span class="glyphicon glyphicon-copy"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-danger">
                <div class="panel-heading">Change Email</div>
                <div class="panel-body">
                    <div class="input-group">
                        <span class="input-group-addon" id="change-email-addon">New Email</span>
                        <input type="text" class="form-control" id="change-email" aria-describedby="change-email-addon"
                            ng-model="email.email">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-danger" aria-haspopup="true" aria-expanded="false"
                                ng-click="changeEmail(true)">Change</button>
                        </span>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Or just get code of 
                            <a target="_blank"
                                href="https://github.com/cloudfoundry/uaa/blob/develop/docs/UAA-APIs.rst#change-email-flow">
                                change-email-flow</a>
                        </div>
                        <div class="panel-body">
                            <div class="input-group">
                                <span class="input-group-addon" id="change-email-addon">New Email</span>
                                <input type="text" class="form-control" id="change-email" aria-describedby="change-email-addon"
                                    ng-model="email.email">
                            </div>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-info" aria-haspopup="true" aria-expanded="false"
                                        ng-click="changeEmail(false)">Get</button>
                                </span>
                                <input type="text" class="form-control" id="change-email-code" aria-describedby="change-email-code-addon"
                                    placeholder="Change Email Code" readonly 
                                    ng-model="email.code">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default" aria-haspopup="true" aria-expanded="false"
                                        ng-click="copyText(email.code)">
                                        <span class="glyphicon glyphicon-copy"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> 

    <div class="panel panel-info">
        <div class="panel-heading">Tokens Manage</div>
        <div class="panel-body" ui-view="token"></div>
    </div>

    <button type="submit" class="btn btn-info"
        ng-click="back()">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
