<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Create or edit a User</h4>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="id" ng-model="user.id" readonly="readonly">
        </div>

        <div class="form-group">
            <label class="control-label">UserName</label>
            <input type="text" class="form-control" name="userName" ng-model="user.userName" required ng-maxlength="255">

            <div ng-show="editForm.userName.$invalid">
                <p class="help-block" ng-show="editForm.userName.$error.required">
                    This field is required.
                </p>

                <p class="help-block" ng-show="editForm.userName.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div class="form-group" ng-show="user.id == null">
            <label class="control-label">Password</label>
            <input type="password" class="form-control" name="password" ng-model="user.password" ng-required="user.id == null" ng-maxlength="255">

            <div ng-show="editForm.password.$invalid">
                <p class="help-block" ng-show="editForm.password.$error.required">
                    This field is required.
                </p>

                <p class="help-block" ng-show="editForm.password.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
            <password-strength-bar password-to-check="user.password"></password-strength-bar>
        </div>
        <div class="form-group">
            <label class="control-label">FamilyName</label>
            <input type="text" class="form-control" name="familyName" ng-model="user.name.familyName" ng-maxlength="255">

            <div ng-show="editForm.familyName.$invalid">
                <p class="help-block" ng-show="editForm.familyName.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">GivenName</label>
            <input type="text" class="form-control" name="givenName" ng-model="user.name.givenName" ng-maxlength="255">

            <div ng-show="editForm.givenName.$invalid">
                <p class="help-block" ng-show="editForm.givenName.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label">Email</label>
            <div class="form-inline" ng-repeat="email in user.emails track by $index">
                <input type="text" class="form-control" name="email" ng-model="email.value" required ng-maxlength="100">

                <div ng-show="editForm.email.$invalid">
                    <p class="help-block" ng-show="editForm.email.$error.required">
                        This field is required.
                    </p>
    
                    <p class="help-block" ng-show="editForm.email.$error.maxlength" translate-value-max="100">
                        This field cannot be longer than 100 characters.
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">PhoneNumber</label>
            <br>
            <div class="form-inline" ng-repeat="phoneNumber in user.phoneNumbers track by $index">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="deleItem(user.phoneNumbers,$index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" name="phoneNumber_{{$index}}" ng-model="phoneNumber.value" required ng-maxlength="100">
                </div>

                <div ng-show="editForm.phoneNumber_{{$index}}.$invalid">
                    <p class="help-block" ng-show="editForm.phoneNumber_{{$index}}.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block" ng-show="editForm.phoneNumber_{{$index}}.$error.maxlength" translate-value-max="100">
                        This field cannot be longer than 100 characters.
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addItem(user.phoneNumbers,{value: null})">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <div class="form-group">
            <label for="active">
                <input type="checkbox" id="active" ng-model="user.active">
                <span>Activated</span>
            </label>
        </div>
        <div class="form-group">
            <label for="verified">
                <input type="checkbox" id="verified" ng-model="user.verified">
                <span>Verified</span>
            </label>
        </div>

        <div class="form-group">
            <label class="control-label">Origin</label>
            <br>
            <div class="btn-group" uib-dropdown>
                <button id="single-button" type="button" class="btn btn-primary" uib-dropdown-toggle ng-disabled="disabled">
                    {{user.origin}} 
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                    <li role="menuitem" ng-repeat="provider in providers.identity track by $index">
                        <a href ng-click="user.origin = provider.originKey">{{provider.originKey}}({{provider.name}})</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <div class="form-group">
            <label class="control-label">External Id</label>
            <input type="text" class="form-control" name="externalId" placeholder="External user ID if authenticated through an external identity provider." ng-model="user.name.externalId">
        </div>
        
        <div class="form-group">
            <label class="control-label">Salt</label>
            <input type="text" class="form-control" name="salt" placeholder="Use for create token." ng-model="user.name.salt">
        </div>
        
        <!-- TODO -->
        <div class="form-group" ng-show="user.id == null">
            <label class="control-label">Approvals</label>
            <br>
            <div class="form-inline" ng-repeat="approval in user.approvals track by $index">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger" ng-click="deleItem(user.approvals,$index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button type="button" class="btn" uib-tooltip="click to toggle auto approve" ng-class="approval.status === 'APPROVED' ? 'btn-primary' : 'btn-warning'" ng-click="approval.status = (approval.status === 'APPROVED' ? 'DENIED': 'APPROVED')">
                            <span class="glyphicon" ng-class="approval.status === 'APPROVED' ? 'glyphicon-ok' : 'glyphicon-remove'"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" name="clientId_{{$index}}" placeholder="clientId" ng-model="approval.clientId" required>
                    
                    <span class="input-group-addon">
                        Use 
                    </span>

                    <input type="text" class="form-control" name="scope_{{$index}}" placeholder="scope" ng-model="approval.scope" required ng-maxlength="100">
                </div>

                <div ng-show="editForm.clientId_{{$index}}.$invalid">
                    <p class="help-block" ng-show="editForm.clientId_{{$index}}.$error.required">
                        ClientId field is required.
                    </p>

                    <p class="help-block" ng-show="editForm.clientId_{{$index}}.$error.maxlength" translate-value-max="100">
                        ClientId field cannot be longer than 100 characters.
                    </p>
                </div>

                <div ng-show="editForm.scope_{{$index}}.$invalid">
                    <p class="help-block" ng-show="editForm.scope_{{$index}}.$error.required">
                        Scope field is required.
                    </p>

                    <p class="help-block" ng-show="editForm.scope_{{$index}}.$error.maxlength" translate-value-max="100">
                        Scope field cannot be longer than 100 characters.
                    </p>
                </div>
            </div>
            <button type="button" class="btn btn-primary" ng-click="addItem(user.approvals,{status: 'APPROVED'})">
                <span class="glyphicon glyphicon-plus"></span>
            </button>
        </div>

        <!-- TODO groups -->

        <!-- Not use
        passwordLastModified
        previousLogonTime
        lastLogonTime -->
    </div>
    <div class="modal-footer">
        <jh-alert-error></jh-alert-error>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
