<ul class="list-group">
    <li class="list-group-item hand tree" 
        ng-repeat="member in member.members | orderBy:'name' track by member.id"
        ng-click="selectItem(member,$event)"
        ng-class="{'disabled': member.type === 'NONE'}">
        <span class="glyphicon glyphicon-user" 
            ng-show="member.type === 'USER'"></span>
        <span class="glyphicon" 
            ng-class="{
                'glyphicon-file': member.nochild, 
                'glyphicon-folder-open': !member.nochild && member.show, 
                'glyphicon-folder-close': !member.nochild && !member.show
            }"
            ng-show="member.type === 'GROUP'"
            ng-click="expandItem(member,$event)"></span>

        <span class="glyphicon" 
            ng-class="{
                'glyphicon-file': member.nochild, 
                'glyphicon-folder-open': !member.nochild && member.show, 
                'glyphicon-folder-close': !member.nochild && !member.show
            }"
            ng-show="['INDIRECT','DIRECT','NONE'].includes(member.type)"
            ng-click="expandItem(member,$event)"></span>
        {{member.name}}
        <span class="glyphicon" 
            uib-tooltip="Click to move/remove user to this group"
            ng-class="{
                'glyphicon-map-marker': member.type === 'DIRECT', 
                'glyphicon-road': member.type === 'INDIRECT', 
                'glyphicon-pushpin': member.type === 'NONE'
            }"
            ng-show="['INDIRECT','DIRECT','NONE'].includes(member.type)"
            ng-click="toggleItem(member,$event)"></span>
        
        <div ng-show="member.show" ng-init="member = member" ng-include="'scripts/app/uaa/member-management/member-item.html'"></div>
    </li>
</ul>