<form class="col-md-8 col-md-offset-2" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="form-group">
        <label class="control-label">Provider Description</label>
        <input type="text" class="form-control" name="providerDescription"
            uib-tooltip="Description"
            ng-model="provider.config.providerDescription">
    </div>
    
    <!-- additionalConfiguration not used -->

    <div class="form-group">
        <label class="control-label">Email Domain</label>
        <br>
        <div class="form-inline" 
            ng-repeat="domain in provider.config.emailDomain track by $index">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" 
                        ng-click="deleItem(provider.config.emailDomain,$index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" class="form-control" name="domain_{{$index}}"
                    ng-model="provider.config.emailDomain[$index]" required>
            </div>
            
            <div ng-show="editForm.domain_{{$index}}.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain_{{$index}}.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" 
            ng-click="addItem(provider.config.emailDomain,'')">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
        </button>
    </div>

    
    <div class="form-group">
        <div class="alert alert-info" role="alert">
            <!-- Banner show in 'idp_discovery/*' and 'mfa/*' page.
            <br>
            You must enable 'IDP Discovery'. go 
            <a href ng-click="activeTab(9)">config it</a> -->
        </div>
    </div>

    <div class="form-group">
        <label for="disableInternalUserManagement">
            <input type="checkbox" id="disableInternalUserManagement" 
                ng-model="provider.config.disableInternalUserManagement">
            <span>Disable Internal User Management</span>
        </label>
    </div>


    <div class="form-group">
        <label class="control-label">Expire Password In Months</label>
        <input type="number" class="form-control" name="expirePasswordInMonths"
            ng-model="provider.config.passwordPolicy.expirePasswordInMonths">
    </div>
    <div class="form-group">
        <label class="control-label">Password Newer Than</label>
        
        <div class="form-inline"
            uib-datepicker
            ng-model="provider.config.passwordPolicy.passwordNewerThan">
        </div>
        <div 
            uib-timepicker
            ng-model="provider.config.passwordPolicy.passwordNewerThan">
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label">Min Length</label>
                <input type="number" class="form-control" name="minLength"
                    ng-model="provider.config.passwordPolicy.minLength" ng-min="-1">

                <div ng-show="editForm.minLength.$invalid">
                    <p class="help-block"
                        ng-show="editForm.minLength.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.minLength.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Max Length</label>
                <input type="number" class="form-control" name="maxLength"
                    ng-model="provider.config.passwordPolicy.maxLength" ng-min="-1">

                <div ng-show="editForm.maxLength.$invalid">
                    <p class="help-block"
                        ng-show="editForm.maxLength.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.maxLength.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Require Upper Case Character</label>
                <input type="number" class="form-control" name="requireUpperCaseCharacter"
                    ng-model="provider.config.passwordPolicy.requireUpperCaseCharacter" ng-min="-1">

                <div ng-show="editForm.requireUpperCaseCharacter.$invalid">
                    <p class="help-block"
                        ng-show="editForm.requireUpperCaseCharacter.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.requireUpperCaseCharacter.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Require Lower Case Character</label>
                <input type="number" class="form-control" name="requireLowerCaseCharacter"
                    ng-model="provider.config.passwordPolicy.requireLowerCaseCharacter" ng-min="-1">

                <div ng-show="editForm.requireLowerCaseCharacter.$invalid">
                    <p class="help-block"
                        ng-show="editForm.requireLowerCaseCharacter.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.requireLowerCaseCharacter.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Require Digit</label>
                <input type="number" class="form-control" name="requireDigit"
                    ng-model="provider.config.passwordPolicy.requireDigit" ng-min="-1">

                <div ng-show="editForm.requireDigit.$invalid">
                    <p class="help-block"
                        ng-show="editForm.requireDigit.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.refreshTokenValidity.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Require Special Character</label>
                <input type="number" class="form-control" name="requireSpecialCharacter"
                    ng-model="provider.config.passwordPolicy.requireSpecialCharacter" ng-min="-1">

                <div ng-show="editForm.requireSpecialCharacter.$invalid">
                    <p class="help-block"
                        ng-show="editForm.requireSpecialCharacter.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.refreshTokenValidity.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than -1.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-6">

            <div class="form-group">
                <label class="control-label">Count Failures Within</label>
                <input type="number" class="form-control" name="countFailuresWithin"
                    ng-model="provider.config.lockoutPolicy.countFailuresWithin" ng-min="1">

                <div ng-show="editForm.countFailuresWithin.$invalid">
                    <p class="help-block"
                        ng-show="editForm.countFailuresWithin.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.countFailuresWithin.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than 1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Lockout After Failures</label>
                <input type="number" class="form-control" name="lockoutAfterFailures"
                    ng-model="provider.config.lockoutPolicy.lockoutAfterFailures" ng-min="1">

                <div ng-show="editForm.lockoutAfterFailures.$invalid">
                    <p class="help-block"
                        ng-show="editForm.lockoutAfterFailures.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.lockoutAfterFailures.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than 1.
                    </p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Lockout Period Seconds</label>
                <input type="number" class="form-control" name="lockoutPeriodSeconds"
                    ng-model="provider.config.lockoutPolicy.lockoutPeriodSeconds" ng-min="1">

                <div ng-show="editForm.lockoutPeriodSeconds.$invalid">
                    <p class="help-block"
                        ng-show="editForm.lockoutPeriodSeconds.$error.required">
                        This field is required.
                    </p>

                    <p class="help-block"
                        ng-show="editForm.lockoutPeriodSeconds.$error.min"
                        translate-value-max="255">
                        This field cannot be smaller than 1.
                    </p>
                </div>
            </div>
        </div>
    </div>
</form>
