<div>
    <h2>Groups</h2>
    <!-- <jh-alert></jh-alert> -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <button class="btn btn-primary" ui-sref="group-management.new">
                    <span class="glyphicon glyphicon-flash"></span> <span>Create a new Group</span>
                </button>
            </div>
            <div class="col-md-6 form-group">
                <ui-select multiple theme="bootstrap" title="Choose a filter"
                    close-on-select="false" 
                    on-select="filtering($select.selected)" 
                    on-remove="filtering($select.selected)"
                    tagging="tagging" tagging-tokens="SPACE|,|/"
                    ng-model="selected.value">
                    <ui-select-match placeholder="Search...">
                        <span class="glyphicon" aria-hidden="true"
                            ng-class="$item.icon">
                        </span>
                        {{$item.name}}
                    </ui-select-match>
                    <ui-select-choices group-by="'group'" repeat="filter in filters | filter: $select.search">
                        <span class="glyphicon" aria-hidden="true"
                            ng-class="filter.icon">
                        </span>
                        {{filter.name}}
                        <div></div>
                        <small>
                            <code>{{filter.field}} <strong>{{filter.operator}}</strong> {{filter.value}}</code>
                        </small>
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>DisplayName</th>
                <th>Description</th>
                <th>Created<br>LastModified</th>
                <th>ZoneId</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="group in groups track by group.id">
                <td>
                    <a ui-sref="group-management-detail({id:group.id})">
                        {{group.id | limitTo:8}}
                    </a>
                </td>
                <td>{{group.displayName}}</td>
                <td>{{group.description}}</td>
                <td>
                    {{group.meta.created | date:'dd/MM/yy HH:mm'}}
                    <br><br>
                    {{group.meta.lastModified | date:'dd/MM/yy HH:mm'}}
                </td>
                <td>
                    <a ui-sref="zone-management-detail({id:group.zoneId})">
                        {{group.zoneId | limitTo:8}}
                    </a>
                </td>
                <td class="text-right">
                    <div>
                        <button type="submit" class="btn btn-info btn-sm"
                            ui-sref="group-management-detail({id:group.id})">
                            <span class="glyphicon glyphicon-eye-open"></span>
                        </button>
                        <button type="submit"
                            ui-sref="group-management.edit({id:group.id})"
                            class="btn btn-primary btn-sm">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-danger btn-sm"
                            ui-sref="group-management.delete({id:group.id})">
                            <span class="glyphicon glyphicon-remove-circle"></span>
                        </button>
                        <button type="submit" class="btn btn-success btn-sm"
                            uib-tooltip="Go member management"
                            ui-sref="member-management({gid:group.id})"
                            ng-class="{'disabled': group.members.length === 0}">
                            <span class="glyphicon glyphicon-fullscreen"></span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul uib-pagination class="pagination-sm" total-items="pageTotal" items-per-page="pageSize"
            ng-model="pageNumber" ng-change="pagging()"></ul>
    </div>
</div>
