<form class="col-md-8 col-md-offset-2" name="editForm" role="form" novalidate ng-submit="save()" show-validation>
    <div class="form-group">
        <label class="control-label">Provider Description</label>
        <input type="text" class="form-control" name="providerDescription"
            uib-tooltip="Description"
            ng-model="provider.config.providerDescription">
    </div>
    
    <!-- additionalConfiguration not used -->

    <div class="form-group">
        <label class="control-label">Email Domain</label>
        <br>
        <div class="form-inline" 
            ng-repeat="domain in provider.config.emailDomain track by $index">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" 
                        ng-click="deleItem(provider.config.emailDomain,$index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" class="form-control" name="domain_{{$index}}"
                    ng-model="provider.config.emailDomain[$index]" required>
            </div>

            <div ng-show="editForm.domain_{{$index}}.$invalid">
                <p class="help-block"
                    ng-show="editForm.domain_{{$index}}.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" 
            ng-click="addItem(provider.config.emailDomain,'')">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
        </button>
    </div>


    <div class="form-group">
        <div class="alert alert-info" role="alert">
            <!-- Banner show in 'idp_discovery/*' and 'mfa/*' page.
            <br>
            You must enable 'IDP Discovery'. go 
            <a href ng-click="activeTab(9)">config it</a> -->
        </div>
    </div>

    <div class="form-group">
        <label for="active">
            <input type="checkbox" id="addShadowUserOnLogin" 
                ng-model="provider.config.addShadowUserOnLogin">
            <span>Add Shadow User On Login</span>
        </label>
    </div>
    
    <div class="form-group">
        <label class="control-label">External Groups Whitelist</label>
        <br>
        <div class="form-inline" 
            ng-repeat="whitelist in provider.config.externalGroupsWhitelist track by $index">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" 
                        ng-click="deleItem(provider.config.externalGroupsWhitelist,$index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" class="form-control" name="whitelist_{{$index}}"
                    ng-model="provider.config.externalGroupsWhitelist[$index]" required>
            </div>

            <div ng-show="editForm.whitelist_{{$index}}.$invalid">
                <p class="help-block"
                    ng-show="editForm.whitelist_{{$index}}.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" 
            ng-click="addItem(provider.config.externalGroupsWhitelist,'')">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
        </button>
    </div>

    <div class="form-group">
        <label for="active">
            <input type="checkbox" id="storeCustomAttributes" 
                ng-model="provider.config.storeCustomAttributes">
            <span>Store Custom Attributes</span>
        </label>
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:user_name</label>
        <input type="text" class="form-control" name="user_name"
            uib-tooltip="Map user_name to the attribute for user name in the provider assertion or token."
            ng-model="provider.config.attributeMappings.user_name">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:email</label>
        <input type="text" class="form-control" name="email"
            uib-tooltip="Map email to the attribute for email in the provider assertion or token."
            ng-model="provider.config.attributeMappings.email">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:given_name</label>
        <input type="text" class="form-control" name="given_name"
            uib-tooltip="Map given_name to the attribute for given name in the provider assertion or token."
            ng-model="provider.config.attributeMappings.given_name">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:family_name</label>
        <input type="text" class="form-control" name="family_name"
            uib-tooltip="Map family_name to the attribute for family name in the provider assertion or token."
            ng-model="provider.config.attributeMappings.family_name">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:phone_number</label>
        <input type="text" class="form-control" name="phone_number"
            uib-tooltip="Map phone_number to the attribute for phone number in the provider assertion or token."
            ng-model="provider.config.attributeMappings.phone_number">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:email_verified</label>
        <input type="text" class="form-control" name="email_verified"
            uib-tooltip="Maps the attribute on the assertion to the email_verified user record at the time of authentication."
            ng-model="provider.config.attributeMappings.email_verified">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:department</label>
        <input type="text" class="form-control" name="department"
            ng-model="provider.config.attributeMappings['user.attribute.department']">
    </div>

    <div class="form-group">
        <label class="control-label">Mapping:external_groups</label>
        <br>
        <div class="form-inline" 
            ng-repeat="external_group in provider.config.attributeMappings.external_groups track by $index">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-danger" 
                        ng-click="deleItem(provider.config.attributeMappings.external_groups,$index)">
                        <span class="glyphicon glyphicon-minus"></span>
                    </button>
                </span>
                <input type="text" class="form-control" name="external_group_{{$index}}"
                    ng-model="provider.config.attributeMappings.external_groups[$index]" required>
            </div>

            <div ng-show="editForm.external_group_{{$index}}.$invalid">
                <p class="help-block"
                    ng-show="editForm.external_group_{{$index}}.$error.required">
                    This field is required.
                </p>
            </div>
        </div>
        <button type="button" class="btn btn-primary" 
            ng-click="addItem(provider.config.attributeMappings.external_groups,'')">
            <span class="glyphicon glyphicon glyphicon-plus"></span>
        </button>
    </div>
</form>
