<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel" ng-click="goingDebug()">
            Setting</h4>
        <jh-alert></jh-alert>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <label>UAA url</label>
            <input type="text" class="form-control" name="url" ng-model="setting.url" required>

            <div ng-show="editForm.url.$invalid">
                <p class="help-block" ng-show="editForm.url.$error.required">
                    This field is required.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Client Id</label>
            <input type="text" class="form-control" name="id" ng-model="setting.clientId" required ng-maxlength="255">

            <div ng-show="editForm.id.$invalid">
                <p class="help-block" ng-show="editForm.id.$error.required">
                    This field is required.
                </p>

                <p class="help-block" ng-show="editForm.id.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label">Client Secret</label>
            <input type="text" class="form-control" name="secret" ng-model="setting.clientSecret" required ng-maxlength="255">

            <div ng-show="editForm.secret.$invalid">
                <p class="help-block" ng-show="editForm.secret.$error.required">
                    This field is required.
                </p>

                <p class="help-block" ng-show="editForm.secret.$error.maxlength" translate-value-max="255">
                    This field cannot be longer than 255 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Login Type</label>
            <br>
            <div class="btn-group">
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'client_credentials'">client_credentials</label>
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'password'">password</label>
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'implicit'">implicit</label>
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'authorization_code'">authorization_code</label>
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'auto_login'">auto_login</label>
                <label class="btn btn-primary" ng-model="setting.loginType" uib-btn-radio="'passcode'">passcode</label>
            </div>
        </div>


        <div ng-show="setting.debug">

        <div class="form-group">
            <div class="alert alert-info" role="alert">
                Debug mode enable.
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Username</label>
            <input type="text" class="form-control" name="username" ng-model="setting.username">
        </div>
        <div class="form-group">
            <label class="control-label">Password</label>
            <input type="text" class="form-control" name="password" ng-model="setting.password">
        </div>
        
        </div>

    </div>
    <div class="modal-footer">
        <jh-alert-error></jh-alert-error>
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
