<form name="editForm" role="form" novalidate ng-submit="save()" show-validation>

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="clear()">&times;</button>
        <h4 class="modal-title" id="myUserLabel">
            Create or edit a Client</h4>
    </div>
    <div class="modal-body">
        <jh-alert-error></jh-alert-error>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" name="client_id"
                   ng-model="client.client_id" ng-maxlength="50" ng-required="true">

            <div ng-show="editForm.client_id.$invalid">
                <p class="help-block"
                    ng-show="editForm.client_id.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                    ng-show="editForm.client_id.$error.maxlength"
                    translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group" ng-show="mode === 'new'">
            <label class="control-label">Secret</label>
            <input type="password" class="form-control" name="client_secret"
                   ng-model="client.client_secret" ng-maxlength="50">
                   <!-- ng-required="mode === 'new'"> -->

            <div ng-show="editForm.client_secret.$invalid">
                <p class="help-block"
                    ng-show="editForm.client_secret.$error.required">
                    This field is required.
                </p>

                <p class="help-block"
                    ng-show="editForm.client_secret.$error.maxlength"
                    translate-value-max="50">
                    This field cannot be longer than 50 characters.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Grant</label>
            <!-- <div class="form-inline" 
                ng-repeat="grant in client.authorized_grant_types track by $index">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger"
                            ng-click="deleGrant($index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                    </span>
                    <input type="text" class="form-control" name="grant"
                        ng-model="client.authorized_grant_types[$index]" readonly>
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary dropdown-toggle" 
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-left">
                    <li ng-click="addGrant('authorization_code')"><a>authorization_code</a></li>
                    <li ng-click="addGrant('password')"><a>password</a><li>
                    <li ng-click="addGrant('implicit')"><a>implicit</a></li>
                    <li ng-click="addGrant('client_credentials')"><a>client_credentials</a></li>
                </ul>
            </div> -->
            <div class="form-inline">
                <h4>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="label"
                    ng-class="enableGrant('authorization_code') ? 'label-primary' : 'label-default'"
                    ng-click="toggleGrant('authorization_code')">
                    authorization_code</span>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="label"
                    ng-class="enableGrant('password') ? 'label-primary' : 'label-default'"
                    ng-click="toggleGrant('password')">password</span>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="label"
                    ng-class="enableGrant('implicit') ? 'label-primary' : 'label-default'"
                    ng-click="toggleGrant('implicit')">implicit</span>
                <span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
                <span class="label"
                    ng-class="enableGrant('client_credentials') ? 'label-primary' : 'label-default'"
                    ng-click="toggleGrant('client_credentials')">client_credentials</span>
                </h4>
            </div>
            <div class="form-inline">
                <h6>
                    <span class="glyphicon glyphicon-tags" aria-hidden="true"></span>
                    <span class="label"
                        ng-class="is_refresh_token ? 'label-primary' : 'label-default'"
                        >refresh_token</span>
                </h6>
            </div>

            <input type="number" class="form-control" name="grant_count"
                ng-model="client.authorized_grant_types.length" ng-min="1" ng-show="false">
            <div ng-show="editForm.grant_count.$invalid">
                <p class="help-block"
                    ng-show="editForm.grant_count.$error.min">
                    An authorized grant type must be provided.
                </p>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label">Redirect</label>
            <div class="form-inline" 
                ng-repeat="redirect in client.redirect_uri track by $index">
                <div class="input-group">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-danger"
                            ng-click="deleRedirect($index)">
                            <span class="glyphicon glyphicon-minus"></span>
                        </button>
                        <button type="button" class="btn btn-default"
                            uib-tooltip="matches zero or more characters" 
                            ng-click="client.redirect_uri[$index] = client.redirect_uri[$index] + '*'">
                            *
                        </button>
                        <button type="button" class="btn btn-default"
                            uib-tooltip="matches zero or more 'directories' in a path" 
                            ng-click="client.redirect_uri[$index] = client.redirect_uri[$index] + '/**'">
                            **
                        </button>
                    </span>
                    <input type="text" class="form-control" name="redirect"
                        ng-model="client.redirect_uri[$index]" required>
                    <span class="input-group-btn">
                </div>
            </div>
            <div class="btn-group">
                <button type="button" class="btn btn-primary" 
                    ng-click="addRedirect('authorization_code')">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>

            <input type="number" class="form-control" name="redirect_uri_count"
                ng-model="client.redirect_uri.length" ng-min="0" ng-show="false">
            <div ng-show="editForm.redirect_uri_count.$invalid">
                <p class="help-block"
                    ng-show="editForm.redirect_uri_count.$error.min">
                    authorization_code or implicit grant type requires at least one redirect URL.
                </p>
            </div>
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span
           >Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
