<div>
    <h2>Clients</h2>
    <!-- <jh-alert></jh-alert> -->

    <div class="row">
        <div class="col-xs-6 col-md-2"
            ng-repeat="app in apps track by app.clientId">
            <div class="center-block" style="height:120px">
                <a class="thumbnail tiles-nowidth" 
                    uib-tooltip="{{app.clientId}}" 
                    tooltip-placement="bottom"
                    ui-sref="client-management.meta({id:app.clientId})">
                    
                    <div class="tile-icon" style="background-image:url({{app.appIconUrl}})">
                        <span class="glyphicon glyphicon-th-large" 
                            uib-tooltip="Show on home page"
                            tooltip-placement="right"
                            ng-show="app.showOnHomePage"></span>
                    </div>
                </a>
                <div class="red-text text-center">{{app.clientName}}</div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
          <div class="col-md-4">
              <button class="btn btn-primary" ui-sref="client-management.new">
                  <span class="glyphicon glyphicon-flash"></span> <span>Create a new Client</span>
              </button>
          </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>Url</th>
                <!-- <th>Scope</th> -->
                <th>Grant</th>
                <!-- <th>AutoApprove</th> -->
                <th>LastModified</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat-start="client in clients track by client.client_id">
                <td>
                    <a ui-sref="client-management-detail({id:client.client_id})">
                        {{client.client_id}}
                    </a>
                </td>

                <td>
                    {{client.redirect_uri.join(' ')}}
                </td>
                
                <!-- <td>
                    {{client.scope.join(' ')}}
                </td> -->
                
                <td>
                    <!-- {{client.authorized_grant_types.join('\n')}} -->
                    <ul>
                        <li ng-repeat="grant in client.authorized_grant_types">
                            <span>{{grants[grant].name}}</span>
                        </li>
                    </ul>
                </td>

                <!-- <td>
                    {{client.autoapprove.join(' ')}}
                </td> -->

                <td>{{client.lastModified | date:'dd/MM/yy HH:mm'}}</td>

                <td class="text-right" rowspan="2">
                    <button type="submit"
                            ui-sref="client-management-detail({id:client.client_id})"
                            class="btn btn-info btn-sm">
                        <span class="glyphicon glyphicon-eye-open"></span>
                    </button>
                    <button type="submit"
                            ui-sref="client-management.edit({id:client.client_id})"
                            class="btn btn-primary btn-sm">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <button type="submit"
                            ui-sref="client-management.delete({id:client.client_id})"
                            class="btn btn-danger btn-sm">
                        <span class="glyphicon glyphicon-remove-circle"></span>
                    </button>
                    <button type="submit"
                            ui-sref="client-management.meta({id:client.client_id})"
                            class="btn btn-success btn-sm">
                        <span class="glyphicon glyphicon-fullscreen"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat-end>
                <td colspan="9">{{client.scope.join(' ')}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <ul uib-pagination class="pagination-sm" total-items="pageTotal" items-per-page="pageSize"
            ng-model="pageNumber" ng-change="loadPage()"></ul>
    </div>
</div>
