<div>
    <h2><span>Client</span> "{{client.client_id}}"</h2>

    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Field</th>
                    <th>Value</th>
                </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <span>ID</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.client_id}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Token Salt</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.token_salt}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Grant</span>
                </td>
                <td>
                    <div ng-repeat="authorized_grant_type in client.authorized_grant_types track by $index">
                        <input type="text" class="input-sm form-control" value="{{authorized_grant_type}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Redirect</span>
                </td>
                <td>
                    <div ng-repeat="redirect_uri in client.redirect_uri track by $index">
                        <input type="text" class="input-sm form-control" value="{{redirect_uri}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Scope</span>
                </td>
                <td>
                    <div ng-repeat="scope in client.scope track by $index">
                        <input type="text" class="input-sm form-control" value="{{scope}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Resource ID</span>
                </td>
                <td>
                    <div ng-repeat="resource_id in client.resource_ids track by $index">
                        <input type="text" class="input-sm form-control" value="{{resource_id}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Authorities</span>
                </td>
                <td>
                    <div ng-repeat="authoritie in client.authorities track by $index">
                        <input type="text" class="input-sm form-control" value="{{authoritie}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>AutoApprove</span>
                </td>
                <td>
                    <div ng-repeat="autoapprove in client.autoapprove track by $index">
                        <input type="text" class="input-sm form-control" value="{{autoapprove}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Access token validity</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.access_token_validity}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Refresh token validity</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.refresh_token_validity}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Allowed providers</span>
                </td>
                <td>
                    <div ng-repeat="allowedprovider in client.allowedproviders track by $index">
                        <input type="text" class="input-sm form-control" value="{{allowedprovider}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Created with</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.createdwith}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Approvals deleted</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control" value="{{client.approvals_deleted}}" readonly>
                </td>
            </tr>
            <tr>
                <td>
                    <span>Required user groups</span>
                </td>
                <td>
                    <div ng-repeat="required_user_group in client.required_user_groups track by $index">
                        <input type="text" class="input-sm form-control" value="{{required_user_group}}" readonly>
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <span>LastModified</span>
                </td>
                <td>
                    <input type="text" class="input-sm form-control"
                           value="{{client.lastModified | date:'dd/MM/yy HH:mm'}}" readonly>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    
            
    <div class="panel panel-danger">
        <div class="panel-heading">Change Secret</div>
        <div class="panel-body">
            <div class="col-md-6 col-md-offset-3">
                <jh-alert-error></jh-alert-error>
                <jh-alert></jh-alert>
                
                <div class="input-group">
                    <span class="input-group-addon" id="old-secret-addon">Old Secret</span>
                    <input type="password" ng-model="secret.old_secret" class="form-control" id="old-secret" aria-describedby="old-secret-addon">
                </div>
                <div class="input-group">
                    <span class="input-group-addon" id="secret-addon">Secret</span>
                    <input type="password" ng-model="secret.secret" class="form-control" id="secret" aria-describedby="secret-addon">
                </div>

                <button type="button" ng-click="changeSecret()" class="btn btn-danger" aria-haspopup="true" aria-expanded="false">Change it</button>
            </div>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">Tokens Manage</div>
        <div ui-view="token"></div>
    </div>

    <button type="submit"
            ui-sref="client-management"
            class="btn btn-info">
        <span class="glyphicon glyphicon-arrow-left"></span>&nbsp;<span> Back</span>
    </button>
</div>
